<div class="content">
  <div class="ui feed">
    <%= render @messages %>
  </div>
</div>

<div class="extra content">
  <form class="ui reply form">
    <div class="field">
      <div class="ui left icon input">
        <input type="text" placeholder="Enter a message...">
        <i class="edit icon"></i>
      </div>
    </div>
  </form>
</div>
