<h2 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say something
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card">
      <%= render 'feed' %>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card">
      <%= render 'vertical_menu' %>
    </div>
  </div>
</div>
