// Place all the styles related to the ChatRoom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatbox {
  height: 450px;
}

.send-message {
  padding: 0;
  border: none;
  background: transparent;

  i {
    bottom: 0;
    top: 0;
    // padding: 0 !important;
    margin: 0 !important;
  }
}
