// Place all the styles related to the ChatRoom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatbox {
  height: 450px;
}

.send-message {
  display: none;
}

#messages-wrapper {
  // height: 15em;
  overflow: auto;
}
